
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la pantalla */
  background-color: #5f0a87; /* Púrpura oscuro */
  color: white;
  text-align: center;
}

.menu-title {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(135deg, #a4508b, #5f0a87); /* Gradiente púrpura */
  transition: all 0.3s ease;
}

.menu-link:hover {
  background-color: #a4508b; /* Fucsia claro */
  transform: translateY(-3px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
