
/* Barra lateral */
.sidenav-content {
  background-color: #1e88e5; /* Azul oscuro */
  color: white;
  height: 100%;
  padding: 16px;
}

.sidenav-content h2 {
  font-size: 20px;
  font-weight: bold;
}

.sidenav-content p {
  font-size: 14px;
  margin-bottom: 16px;
}

/* Lista de navegación */
mat-nav-list {
  margin-top: 20px;
}

mat-list-item {
  color: white;
}

mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Fondo ligeramente más claro al pasar el mouse */
}

/* Contenido principal */
mat-sidenav-content {
  background-color: #f5f5f5; /* Gris claro */
}

.content {
  padding: 24px;
}

/* Barra de herramientas */
mat-toolbar {
  background-color: #145c9a; /* Azul oscuro */
  color: white;
}

/* Sidebar styles */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #343a40;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.profile-container {
  margin-bottom: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid white;
}

.profile-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.profile-logout {
  width: 100%;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 15px 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: #007bff;
  color: white;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #ddd;
}

.navbar-brand {
  font-size: 1.5rem;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
}

.collapse {
  display: none;
  transition: all 0.3s ease-in-out;
}

.collapse.show {
  display: block;
}


.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  color: white !important; /* Asegura que el color sea blanco */
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #4a148c !important; /* Fondo púrpura oscuro al pasar el mouse */
  color: white !important; /* El texto sigue siendo visible */
}

.collapse {
  background-color: #6a1b9a; /* Fondo púrpura para toda la lista desplegable */
  border-radius: 5px; /* Bordes redondeados */
}

.collapse.show {
  display: block;
}


.menu-item.active {
  font-weight: bold;
  text-decoration: underline;
}


ul.list-unstyled {
  padding: 0;
  margin: 0;
}

ul.list-unstyled li a {
  font-size: 16px;
  font-weight: 500; /* Añade un grosor suficiente para que las letras sean visibles */
}

