.sidenav-header{
    padding: 24px;
    text-align: center;
    >img{
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 10px;

    }
    .mat-nav-list{
        color: black;
    }

    .header-text{
        >h2{
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
        }
        >p{
            margin: 0;
            font-size: 0.8rem;
            color: black;
        }
    }
    .hide-header-text{
        opacity: 0;
        height: 0px;
    }
}
